{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",

  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
